<!-- component -->
<app-header></app-header>
<div class="ml-16 min-h-screen">
  <div class="project-gallery text-slate-50 w-11/12 mx-auto">
    <div class="flex justify-between pt-16">
      <p class="leading text-leading text-2xl font-semibold font-sans">
        Projects
      </p>
      <a class="font-semibold font-sans">
        <span class="inline mr-5">All Project</span>
        <svg
          class="inline"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#ffffff"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M5 12h13M12 5l7 7-7 7" />
        </svg>
      </a>
    </div>
    <div class="grid grid-cols-4 my-16 gap-5">
      <div class="col-span-3 grid grid-cols-3 gap-5">
        <div *ngFor="let project of projects">
          <div
            class="bg-[#BAFF00] hover:brightness-50 [#66FF03] hover:cursor-pointer text-black p-5"
            [ngStyle]="{ backgroundColor: project.overdue && '#ffffff' }"
            (click)="toggleProject(project._id)"
          >
            <div class="py-4 border-b border-black">
              <p class="text-lg font-bold font-mono uppercase">
                <span
                  class="w-[16px] h-[16px] bg-black inline-block rounded-md mr-3"
                >
                </span>
                <span>{{ project.name }}</span>
              </p>
              <p class="text-xs opacity-75">
                {{ project.description }}
              </p>
            </div>
            <div class="relative flex justify-between text-center">
              <p>
                <span class="block font-bold text-4xl">{{
                  project.tasks ? project.tasks.length : 0
                }}</span>
                <span class="font-medium">Tasks</span>
              </p>
              <div
                class="absolute left-1/2 h-12 top-2 w-[1px] bg-gray-700"
              ></div>
              <p>
                <span class="block font-bold text-4xl">2</span>

                <span class="font-medium">Members</span>
              </p>
            </div>
            <div class="w-full bg-gray-200 h-4 dark:bg-white mt-5 mb-3">
              <div
                class="bg-black h-4"
                [ngStyle]="{ 'width.%': project.remainTime }"
              ></div>
            </div>
            <div class="relative flex justify-between text-center">
              <p>
                <span class="block font-bold text-md">{{
                  project.startDate | date : "MMM d"
                }}</span>
              </p>
              <p>
                <span class="block font-bold text-md">{{
                  project.endDate | date : "MMM d"
                }}</span>
              </p>
            </div>
            <!-- <div class="team mt-5 mb-2">
            <img
              class="w-11 h-11 object-fit rounded-full"
              src="https://img-9gag-fun.9cache.com/photo/a5XQKKO_460swp.webp"
              alt=""
            />
          </div> -->
          </div>
        </div>
      </div>
      <div *ngIf="detailProject">
        <div class="bg-white px-4 gap-5 pb-5">
          <div class="text-black font-sans">
            <p
              class="text-xl font-bold font-mono uppercase py-4 border-b border-black"
            >
              {{ detailProject.name }}
              <a
                class="float-right cursor-pointer hover:text-rose-500 text-black transition-colors ml-3"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <polyline points="3 6 5 6 21 6"></polyline>
                  <path
                    d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"
                  ></path>
                  <line x1="10" y1="11" x2="10" y2="17"></line>
                  <line x1="14" y1="11" x2="14" y2="17"></line></svg
              ></a>
              <button
                class="float-right cursor-pointer hover:text-emerald-500 text-black transition-colors"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <polygon points="16 3 21 8 8 21 3 21 3 16 16 3"></polygon>
                </svg>
              </button>
            </p>
            <div class="text-md font-sans">
              <p class="px-2 py-2 mt-4 rounded bg-gray-200">
                Description: {{ detailProject.description }}
              </p>
              <p class="px-2 py-2 mt-4 rounded bg-gray-200">
                Duration:
                {{ detailProject.startDate | date }}
                -
                {{ detailProject.endDate | date }}
              </p>
              <p class="px-2 py-2 my-4 rounded bg-gray-200">
                Status: {{ detailProject.status }}
              </p>
            </div>
          </div>
          <div *ngIf="detailTasks" class="text-black font-sans">
            <p class="text-xl font-bold font-mono uppercase py-4">Tasks</p>
            <div class="text-md" *ngFor="let task of detailTasks">
              <div class="flex flex-row justify-end gap-2 mt-4">
                <button
                  class="cursor-pointer hover:text-emerald-500 text-black transition-colors"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <polygon points="16 3 21 8 8 21 3 21 3 16 16 3"></polygon>
                  </svg>
                </button>
                <a
                  class="cursor-pointer hover:text-rose-500 text-black transition-colors"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <polyline points="3 6 5 6 21 6"></polyline>
                    <path
                      d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"
                    ></path>
                    <line x1="10" y1="11" x2="10" y2="17"></line>
                    <line x1="14" y1="11" x2="14" y2="17"></line></svg
                ></a>
              </div>
              <div class="p-2 mt-4 rounded bg-gray-200">
                <p>Name: {{ task.name }}</p>
                <p>Description: {{ task.description }}</p>
                <p>Due Date: {{ task.dueDate | date }}</p>
                <p>Status: {{ task.status }}</p>
                <p>
                  Members:
                  <span class="ml-2" *ngFor="let member of task.members">{{
                    member
                  }}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
