<div class="content" role="main">
    <div class="container-full mx-auto w-25 mt-5 text-center">
      <div class="caption">
        <h4>Thông tin sinh viên</h4>
        <img src="{{student.anh}}" alt="" />
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          Họ Tên: <span>{{ student.hoten }}</span>
        </li>
        <li class="list-group-item">
          Ngày Sinh: <span>{{ student.ngaysinh }}</span>
        </li>
        <li class="list-group-item">
          Giới Tính: <span>{{ student.gioitinh }}</span>
        </li>
        <li class="list-group-item">
          Điểm Trung Bình: <span>{{ student.diemTB }}</span>
        </li>
      </ul>
    </div>
  </div>