<div class="container-full mx-auto w-75 mt-5 text-left border-end border-start">
  <h1 class="p-3 fs-2 border-bottom">Product List</h1>
  <div class="mb-2 p-3">
    <label class="me-4" for="filter">Filter: </label>
    <input [(ngModel)]="listFilter" class="w-25 px-2" type="text" />
  </div>
  <div class="mx-auto w-full">
    <table class="table table-striped text-left">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Product</th>
          <th scope="col">Code</th>
          <th scope="col">Available</th>
          <th scope="col">Price</th>
          <th scope="col">5 Star Rating</th>
        </tr>
      </thead>
      <tbody id="products">
        <tr *ngFor="let p of products; let l = last">
          <td>
            <img
              class="p-1"
              [src]="p.imageUrl"
              [title]="p.productName | uppercase"
              width="50px"
            />
          </td>
          <td>{{ p.productName }}</td>
          <td>{{ p.productCode }}</td>
          <td>{{ p.releaseDate }}</td>
          <td>{{ p.price | currency }}</td>
          <td>
            <app-star
              [rating]="p.starRating"
              (ratingClicked)="displayRating($event)"
            ></app-star>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
