<div class="container-full mx-auto w-75 mt-5 text-left border-end border-start">
  <h1 class="p-3 fs-2 border-bottom">Product List</h1>
  <div class="mb-2 p-3">
    <label class="me-4" for="filter">Filter: </label>
    <input [(ngModel)]="filter" class="w-25 px-2" type="text" />
  </div>
  <div class="mx-auto w-full">
    <table class="table table-striped text-left">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Product</th>
          <th scope="col">Code</th>
          <th scope="col">Available</th>
          <th scope="col">Price</th>
          <th scope="col">5 Star Rating</th>
        </tr>
      </thead>
      <tbody id="products">
        <tr *ngFor="let product of products; let l = last">
          <td>
            <img
              style="height: 64px; width: 64px"
              class="p-1"
              [src]="product.imageUrl"
            />
          </td>
          <td>{{ product.productName }}</td>
          <td>{{ product.productCode }}</td>
          <td>{{ product.releaseDate }}</td>
          <td>{{ product.price }}</td>
          <td>
            <div class="position-relative">
              <div
                class="overflow-hidden"
                title="rating"
                [style.width.px]="(product.starRating / 5) * 90"
              >
                <div [style.width.px]="90">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <div
                  class="position-absolute"
                  [style]="{
                    width: '100px',
                    'z-index': '2',
                    top: '0',
                    left: '0'
                  }"
                >
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </div>
              </div>
              <!-- <i *ngFor="let _ of rating(product.starRating)" class="fa-solid fa-star"></i> -->
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
